.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 15px;
    gap: 1em;
}
.paginado{
    display:flex;
    flex-direction: row;
    text-align: center;
    box-sizing: content-box;
    gap: 2px;
    justify-content: center;
    align-items: center;
}
.btn{
    height: 25px;
    width: 80px;
    font-family: fantasy;
    background-color: aquamarine;
}
.btn:hover{
    cursor:pointer;
    background-color: orange;
}