.container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.btn{
    height: 25px;
    width: 80px;
    font-family: fantasy;
    background-color: aquamarine;
}
.btn:hover{
    cursor:pointer;
    background-color: orange;
}